body {
    background-color: lightgray;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#quote-box {

    background-color: darkmagenta;
    box-shadow: 5px 9px #888888a3;
    text-align: center;
    width: 400px;
    height: 100px;
    padding: 40px 40px;
    display: table;


}


.buttons {
    width: 425px;

}

#tweet-quote, #tumblr-quote {
    float: left;
    background: lightgray;
    width: 20px;
    height: 20px;
    color: darkmagenta;
    margin: 5px;
    text-align: center;

}

#new-quote {
    float: right;
    color: darkmagenta;
    font-weight: bold;
    font-size: 10pt;
    margin-top: 3px;
    background-color: lightgray;
}

#text {
    color: lightgray;
    font-family: cursive;
    text-align: center;
    width: 400px;
    height: auto;
    font-weight: 500;
    font-size: 1.30em;
}


#author {
    color: lightgray;
    font-family: cursive;
    width: 400px;
    height: auto;
    padding-bottom: 10px;
    font-size: 1em;
    padding-top:20px;
    text-align: right;
}


#colon{
    margin-right: 0.4em;
    font-size: 2em;
    color: lightgrey;
}
